:root {
    --hover-shadow : 0 0 30px gray;
    --main-shadow : 0 0 10px gray;
    --text-color : gray;
}

* {
    box-sizing: border-box;
    margin: 0;
}


@font-face {
    font-family: "shabnam";
    src: url(../fonts/Shabnam-FD.woff2) format(woff2);
}
    

body {
    font-family: "shabnam", sans-serif;
    background-color: rgb(235, 235, 235);
}

.container {
    width: 1250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.section-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}

.section-head-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-head-icon {
    color: rgb(83, 83, 224);
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
}

.section-head-link {
    text-decoration: none;
    color: rgb(48, 48, 255);
}

.section-row {
    display: flex;
    gap: 5px;
}

.section-row :hover {
    box-shadow: var(--hover-shadow);
    transform: scale(1.05) translatey(-2px);
}

.product {
    width: 400px;
    margin: 5px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--main-shadow);
    transition: all 500ms ease 5ms;
    flex-grow: 1;
}

.product * {
    pointer-events: none;
}

.product-link {
    pointer-events: painted;
    text-decoration: none;
}

.product-image {
    width: 100%;
    height: 295px;
    margin-bottom: 10px;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-text {
    text-align: right;
    margin-bottom: 10px;
    height: 88px;
    line-height: 1.2;
}

.product-about {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}

.product-offer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.product-offer-percent {
    background-color: rgb(196, 255, 255);
    color: blue;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
    display: inline-block;
}

.product-offer-before {
    color: rgb(87, 87, 87);
    position: relative;
    display: inline-block;
    opacity: 0.8;
}

.product-offer-before::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgb(87, 87, 87);
    width: 100%;
    height: 1px;
    margin-top: auto;
    margin-bottom: auto;
}

.product-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.product-price {
    display: flex;
    font-weight: bold;
    gap: 5px;
}

.rate {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rate-icon {
    width: 20px;
    height: 20px;
}

@media screen and (max-with: 1100px ) {

    .section-row {
        flex-wrap: nowrap;
        width: 50%;
        background-color: blue;
    }
}

.animation {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 100%;
    margin: 30px auto;
    animation: loading 2s infinite ease;
}

@keyframes loading {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

#product-1 {
    order: 2;
}

/* Flex-grow
Flex-Shrink
Flex-basis */